<!DOCTYPE html>
<html lang="en">
  <!-- Agregamos el head -->
  <%- include ("templates/head.html") %>
  <body>
    <div class="q404">
      <div class="qContenedorGlitch">
        <h2 class="qGlitch" data-text="404">👻 404</h2>
      </div>
      <div class="qContenedorGlitch">
        <h2 class="qGlitch" data-text="Ha surgido un Error">
          Ha surgido un Error
        </h2>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>
</html>
