<!DOCTYPE html>
<html lang="en">
  <!-- Agregamos el head -->
  <link rel="stylesheet" href="../css/quasiestado.css" />
  <link rel="stylesheet" href="../css/noodle.css" />
  <link rel="stylesheet" href="../css/customFileInput.css" />
  <body>
    <header>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Icons"
      />
      <div class="qNavbar" id="qNavbar">
        <a href="main"><img src="../img/noodle.png" class="imgQNavbar" /></a>
        <nav>
          <ul>
            <li><a href="../main"> Inicio </a></li>
            <li><a href="../contact">Contacto</a></li>
            <!-- Si hay un usuario logeado... -->
            <% if(user) { %>
            <li><a href="../coleccion">Mi Colección</a></li>
            <li><a href="../user"> Perfil </a></li>
            <li><a href="../cerrarsesion"> Cerrar sesion </a></li>
            <!-- si no hay un usuario logeado... -->
            <% } else {%>
            <li><a href="../login">Iniciar Sesión</a></li>
            <% } %>

            <button class="switch" id="switch">
              <span class="material-icons" id="cambioModo">mode_night</span>
            </button>
          </ul>
        </nav>
        <div class="qNavbarResponsivo" id="qNavbarResponsivo">
          <span class="material-icons">more_horiz</span>
        </div>
      </div>
    </header>

    <main>
      <div class="nUpload">
        <h1>¿Qué quieres editar <%= user.nombre %> ?</h1>
        <form
          action="<%= proyecto[0].idproyecto %>"
          method="POST"
          class="qForm"
          enctype="multipart/form-data"
        >
          <div class="cntUpload">
            <div>
              <label for="titulo">Titulo<em>*</em></label>
              <input
                type="text"
                name="titulo"
                placeholder="Titulo"
                required
                class="qTexto"
                value="<%= proyecto[0].titulo %>"
              />
              <br />
              <label for="descripción">Descripción<em>*</em></label>
              <textarea
                name="descripcion"
                cols="30"
                rows="10"
                class="qTextArea"
                required
              >
              <%= proyecto[0].descripcion %></textarea
              >
              <br />
            </div>
            <div>
              <div class="wrap-custom-file">
                <input
                  type="file"
                  name="archivo"
                  value="<%= proyecto[0].img %>"
                />
                <label for="archivo">
                  <span id="evidencia">Evidencia</span>
                  <span class="material-icons">
                    add_circle
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div>
            <label for="proceso">Proceso de desarrollo <em>*</em></label>
            <textarea
              name="proceso"
              cols="30"
              rows="10"
              class="qTextArea"
              required
            >
<%= proyecto[0].proceso %></textarea
            >
          </div>

          <input type="submit" value="Aceptar" class="qBoton qBotonAzul" />
        </form>
      </div>
    </main>

    <!-- Agregamos el footer-->
    <%- include ("templates/footer.html") %>
    <script src="../js/script.js"></script>
    <script src="../js/customInput.js"></script>
  </body>
</html>
