<!DOCTYPE html>
<html lang="en">
  <!-- Agregamos el head -->
  <%- include ("templates/head.html") %>
  <link rel="stylesheet" href="css/noodle.css" />
  <body class="index">
    <!-- Agregamos el navbar-->
    <%- include ("templates/navbar.html") %>
    <main>
      <div class="nCntIndex">
        <div class="nIndexImagen">
          <div class="bg"></div>
          <div class="bg bg2"></div>
          <div class="bg bg3"></div>
          <div class="content">
            <img src="img/index.png" alt="" />
          </div>
        </div>
        <div class="nIndexTexto">
          <div>
            <p class="portafolioIndex">Portafolios digitales para todos</p>

            <h1>Haz un portafolio digital en línea</h1>
            <p>
              Un buen portafolio digital da brillantez en tu trabajo. Noodle te
              ayuda a incluir tu trabajo de una manera profesional con
              portafolios digitales bellos, personalizados, creados en pocos
              minutos.
            </p>
            <a href="main" class="linkIndex">Iniciar Ahora</a>
          </div>
        </div>
      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
