<footer class="qFooter">
  <h1 class="qTítuloLlaves">Nooddle</h1>
  <p id="avisoPrivacidad">
    Copyrigth © 2021 Morena Soft & Co. Todos los derechos reservados.
  </p>
  <hr class="qLinea" />
  <div class="qFooterInfo">
    <div>
      <h3 class="qFooterSubTitulo">Patrocinadores</h3>
      <p class="qParrafoFooter">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
        quae.
      </p>
    </div>
    <div>
      <h3 class="qFooterSubTitulo">¿Quiénes somos?</h3>
      <p class="qParrafoFooter">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
        quae.
      </p>
    </div>
    <div>
      <h3 class="qFooterSubTitulo">Noticias</h3>
      <p class="qParrafoFooter">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
        quae.
      </p>
    </div>
    <div>
      <h3 class="qFooterSubTitulo">Contacto</h3>
      <p class="qParrafoFooter">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
        quae.
      </p>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/script.js"></script>
